body{
  background: lightgrey;
  border: 1px solid black;
}

.App {
  background: lightslategray;
  width: 100%;
  border: 1px solid black;
}

.navbar-brand{
  background-color: white;
  font-weight: bold;
}

.collapse.navbar-collapse{
  background-color: black;
}

a.nav-link{
  color: white;
}

