body{
  background: lightgrey;
  border: 1px solid black;
}

.App {
  background: lightslategray;
  width: 100%;
  border: 1px solid black;
}

.navbar-brand{
  background-color: white;
  font-weight: bold;
}

a.nav-link{
  color: white;
}

span.navbar-text{
  font-size: 20px;
  font-weight: bold;
  color: black;
}

